openapi: 3.1.0
servers:
  - url: https://api.dsco.io/api/v3
    description: Production Server
info:
  version: "3.0"
  title: Rithum | Dsco Platform API
  contact:
    name: Rithum Support
    url: https://knowledge.rithum.com/s/contactsupport
    email: support-dsco@rithum.com
  x-logo:
    url: https://static.dsco.io/images/rithum/rithum-logo-full-color-rgb.svg
    backgroundColor: "#FFFFFF"
  description: >
    This is V3 of the Rithum's Dsco Platform API. 


    <div>
      <div><b>NOTE</b></div>
        <div style="margin-left:15px;display: flex;align-items: center;">
          Throughout the docs, when you see an arrow like this...
          <div style="width: 40px;margin-right: 10px;">
        <svg style="transform: rotate(270deg);" class="sc-jTzLTM gBhLRG" version="1.1" viewBox="0 0 24 24" x="0" xmlns="http://www.w3.org/2000/svg" y="0" style=" /* font-size: 2px; */ "><polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon></svg>
        </div>
          Click it to expand the region to see return types, model object details, child models, etc.
      </div>
    </div>


    # API Guides

    Rithum now supports both dropship and private marketplace integrations.  The following guides will help you get started with each type of integration.

    Note that the guides are written from the perspective of the retailer and supplier, but in many cases the same APIs are used for both.

    Finally, 90% or more of the work to do a dropship integration is the exact same work, meaning the same APIs and the same data,

    as a private marketplace integration.


    **Standard Integration  Guide**


    This guide explains how a retailer or supplier would use the Dsco APIs to integrate to Rithum whether doing a dropship 

    integration or a marketplace integration.  Please read this first before moving to the dropship or marketplace guides.

    Note that most of the work is the same for both types of integrations.


    [Standard Guide](../guides/standard-api-guide.html)


    **Dropship Integration  Guide**


    This guide describes the work that is specific to dropship integrations for retailers and suppliers.

    This guide will not make sense unless you have read the standard guide first.


    [Dropship Integration Guide for Retailers and Suppliers](../guides/dropship-api-guide.html)


    **Marketplace Integration  Guide**


    This guide describes the work that is specific to marketplace integrations for retailers and suppliers.

    This guide will not make sense unless you have read the standard guide first.


    [Marketplace Integration Guide for Retailers and Suppliers](../guides/marketplace-api-guide.html)


    **Customer Care Integration Guide**


    This guide describes the Customer Care workflow typically used in marketplace relationships

    to allow end consumer feedback to make its way to a supplier for resolution.


    [Customer Care Integration Guide](../guides/customer-care-guide.html)


    **Conversation Integration Guide**


    This guide describes how retailers and suppliers can have direct conversations with each other,

    specifying with precision which order, item, etc. is being discussed.


    [Conversation Integration Guide](../guides/conversation-integration-guide.html)


    **Advanced Catalog Attribution File Format Guide**

    This document delineates the format of the Advanced Catalog Attribution file that can be used

    to define the retailer's catalog structure to Rithum.


    [Advanced Catalog Attribution File Format Guide](../guides/dsco-catalog-attribution-file-format.html)


    **Implementation guide**


    This document outlines best practices for implementing the Dsco V3 APIs as a retailer on the Rithum's Dsco platform.


    [Implementation guide](https://apiv3-test.s3.amazonaws.com/export/Dsco+Retailer+V3+API+Implementation+Guide+2023-09-08.pdf)


    **Shipping Labels Guide**


    This guide describes how connected retailers and suppliers can collaborate to generate shipping labels for orders placed by retailers and shipped by suppliers.


    [Shipping Labels Guide](../guides/shipping-labels-guide.html)


    **Rate Shop Guide**


    This guide explains how a supplier would use Rithum\'s Dsco platform and Rithum's Dsco Platform API to rate shop their orders.


    [Rate Shop Guide](../guides/rate-shop-guide.html)


    # Getting Started


    Production V3 endpoint: `https://api.dsco.io/api/v3`


    Staging V3 endpoint: `https://staging-api.dsco.io/api/v3`


    Each HTTP request must include the following request headers:


    * **Authorization** - the value is the customer's auth token (also called API Key), which includes the word "bearer" in front of the token

    ```

    Authorization: bearer 222222-22222-2222-2222-222222222

    ```


    * **Accept** - the value must be "application/json"

    ```

    Accept: application/json

    ```


    * **Content-Type** - the value must be "application/json"

    ```

    Content-Type: application/json

    ```


    **Sample Request to Hello API**

    ```

    GET /api/v3/hello HTTP/1.1

    Host: api.dsco.com

    Connection: keep-alive

    Accept: application/json

    Authorization: bearer 222222-22222-2222-2222-222222222

    Content-Type: application/json

    ```


    **Sample Response from Hello API**

    ```

    HTTP/1.1 200 OK

    Content-Type: application/json

    Content-Length: 18

    Expires: 0

    Cache-Control: no-cache

    {"hello":"World!"}

    ```


    # Releases

    **Nov 2025**
      - Added `assortmentIds` query filter to inventory and catalog streams.
      - Added `expediteFlag` attribute to Order object.

    **Oct 2025**
      - Updated `getAccessToken` description to reference knowledge article.
      - Added `assortmentIdsWithFinalEvent` query filter to inventory streams.

    **Sep 2025**
      - Added `trackingUrl` attribute to Order and Shipment objects.
      - Added `cancelRequested` and `cancelRequestedCode` attributes to Order and OrderLineItem objects.
      - Added `onlyIncludeCancelRequests` query filter to order streams.
      - Added new API: [Remove Items From Assortment Small Batch](#operation/removeItemsFromAssortmentSmallBatch)

    **Aug 2025**
      - Added `dscoOnboardingRetailerId` attribute to Order object.

    **Jul 2025**
      - Added `Set Trading Partner` endpoint.

    **Feb 2025**
      - Added `onPricingChanges` query filter to catalog streams.

    **Jan 2025**
      * Add `UnitPrice` as **required** at `InvoiceLineItem` in [Create Invoice](#operation/singleInvoice) and [Create Invoice Small Batch](#operation/createInvoiceSmallBatch). 

    **Oct 2024**
      * Export `RetailerOwnedAttributes` schema.
      * Add details for `RetailerOwnedAttributes` at `InventoryQuery.filterBy.description` in [Create Stream](#operation/createStream), [Update Stream](#operation/updateStream). 
      * Updated `listingPrices` to include `listingPrices.USD`, `listingPrices.GBP`, `listingPrices.EUR`, `listingPrices.CAD`, `listingPrices.AUD` as a Dsco inventory attribute by default

    **Aug 2024**
      * Add the `skipItemsThatDontExist` query param to inventory small/large batch APIs.
      * Add the `retailerLineId` field to the order item change streams.

    **Jul 2024**
      * Add the `retailerLineId` field to the shipments, returns, and invoices resources.
      * Add `crossDockFlag` attribute to Order object.

    **Jun 2024**
      * Added Cancel Return endpoint [Cancel Return](#operation/cancelReturn).
      * `Invoice.LineItems.TaxAmount` marked as deprecated in [Create Invoice](#operation/singleInvoice), [Create Invoice Small Batch](#operation/createInvoiceSmallBatch).
      * `Order.shipToStoreNumber` marked as deprecated in favor of shipping.StoreNumber in [Create Order](#operation/createOrder), [Create Order Small Batch](#operation/createOrderSmallBatch).
      * Add validation rule rule for `restockingCharge` at  [Create Return](#operation/createReturn), [Complete Return](#operation/completeReturn).
      * Add validation rule for `ReturnLineItem.adjustments` at  [Create Return](#operation/createReturn).
      * Add expiration information to changelog pages.

       
    **Nov 2023**
      * Added new query parameter `filterBy` to InventoryQuery

    **Sep 2023**
      * Added new query parameter `estimatedShipDateUpdate` to OrderQuery
      * Added a [`skuHold`](#operation/skuHold) inventory API to set or remove holds.
      * [Create Return](#operation/createReturn), [Complete Return](#operation/completeReturn), [Update Return](#operation/updateReturn)
        * Update request body schemas

    **Aug 2023**
      * Added `skuHold` to inventory
      * Added cost channel override option

    **July 2023**
      * Updated 'maxEvents' to include default, minimum and maximum values for `maxEvents.durationSec`, `maxEvents.numBytes` and `maxEvents.objectCount` attributes
      * Added new parameter `ordersPerPage` to get orders

    **June 2023**
      * A new endpoint was added for AcknowledgeOrderItems
      * Add `title` & `titleI18n` properties to Item Inventory
      * Added new parameters for [Create Return](#operation/createReturn):
        * `Return.returnTrackingNumbers`
        * `ReturnLineItem.adjustments`
        * `ReturnLineItem.serialNumbers`
      * `Return.returnTrackingNumber` marked as deprecated in [Create Return](#operation/createReturn).
      * Added new [Add Package to Return](#operation/updateReturn) endpoint.
      * Added `Return.packages` parameter (and `ReturnPackage`) for [Update Return](#operation/updateReturn) endpoint.
      * New flag added: `inventoryUpdatesOnly` to Inventory Streams
      * Introduced new `update` operation for [Create, Update or Complete Return Small Batch](#operation/createOrCompleteReturnSmallBatch) and [Create, Update or Complete Return Large Batch](#operation/createOrCompleteReturnLargeBatch) endpoints.
      * New preview conversation endpoints were added for review
      * New preview marketplace endpoints were added for review

          
    **May 2023**
      * Add a new stream type `validation`. **NOTICE: THIS IS A BETA API AND IS SUBJECT TO CHANGE**

    **Apr 2023**
      * Updated `listingPrices` to include `listingPrices.USD` as a Dsco catalog attribute by default

    **Mar 2023**
      * Added `line_items` to OrderRequestCancel
      * Added `dscoOrderId` option to OrderRequestCancel
      * Added retailModelRules to ItemCatalogObj

    **Feb 2023**
      Modified InventoriesByContext:
        * Added `inventoryByContext`
        * Deprecated `inventoriesByContext`
      * Added `isPartnerSkuMapped` flag to inventory streams
      * Added `taxExemptNumber` and `taxRegistrationNumber` to shipFrom and shipTo.

    **Jan 2023**
      * New Stream type: Returns
      * Fixed listingPrice casing
      * Fixed API endpoint for supplier calendars
      * Added `inventoriesByContext` to inventory object
      * Added listingPrices to catalog and inventory objects
      * Added retailModelRules.allowedModels to inventory object
      * Added postal to warehouses object

    **November 2022**
      * New API [SingleStreamEvent](#operation/getSingleStreamEvent)

    **October 2022**
      * Added listing_price to inventory object

    **September 2022**
      * Added `taxes.percentage` and `taxes.typeCode` for invoice taxes.
      * Added `untracked` flag for shipments.

    **August 2022**
      * Added `includeUnchangedItems` flag to inventory streams.
      * Added `partnerRefreshOverride` flag to inventory streams.
      * New API [Create Invoice](#operation/singleInvoice).
      * New API [Create Shipment](#operation/singleShipment).
      * New API [Create/Update Inventory](#operation/singleItem)

    **June 2022**
      * Added order line item fields required for `dscoCalculatedSellingPrice` calculation

    **April 2022**
      * Added `poAcknowledgment` on to OrderId
      * Added all of the [assortment API's](#tag/Assortment) from v2.
      * Added a new API: [Add Items To Assortment Small Batch](#operation/addItemsToAssortmentSmallBatch)
      * Added a new API: [Get Assortment Change Logs](#operation/getAssortmentChangeLogs)
      * Added a new API: [Update Order Small Batch](#operation/updateOrderSmallBatch)

    **March 2022**
      * Fixed [Create Stream Operation](#operation/createStreamOperation) existing input params documentation.
      * Added `dscoTradingPartnerId`, `dscoTradingPartnerParentId` and `sku` input params to `sync` [Create Stream Operation](#operation/createStreamOperation).
      * Added `order_type` of `Marketplace` to Order and Invoice (soon)

    | New API or JSON Object | Environment | Description |

    | -- | -- | -- |

    | [Request Order Cancel](#operation/requestCancelOrder) | test | This new API will be released soon|


    **February 2022**
      Added `returnMultiple` optional parameter to `catalogItemRetrieval`
      Added the following fields to Order:
        * `primaryBatchNumber`, `secondaryBatchNumber`, `businessRuleCode`, `salesRevenueCenter`, `salesAgent`, `amountOfSalesTaxCollected`, `departmentId`, `departmentName`
      Added the following fields to Order Line Item:
        * `retailerProductGroup`, `supplierQuoteNumber`, `productSpecifications`

    **February 2022**
      * Added `numberOfLineItems` to shipments.

    **January 2022**
      Added the following fields to Invoice:
        * `buyer`, `remitTo`, `seller`, `taxes`, `orderType`, `amountOfSalesTaxCollected`, `taxableAmountOfSale`
      Added the following fields to Invoice Address:
        * `taxExemptNumber`, `taxRegistrationNumber`
      Modified Invoice ShipInfo:
        * Added `unitOfMeasure`
        * Deprecated `unitOfMeasurementCode`
      Modified Invoice LineItems:
        * Added `shipUnitOfMeasure`, `amountOfSalesTaxCollected`, `taxableAmountOfSale`, `taxes`
        * Deprecated `shipUnitOfMeasurementCode`
      Added the following fields to Catalog:
        * `unitOfMeasure`, `categoryI18n`, `locationsCanBeSold`, `locationsCannotBeSold`, `sales`

    **December 2021**
      * Added `minBusinessDaysToShip`, `maxBusinessDaysToShip`, and `departmentId` to Catalog.
      * Added `originId`, `flsaComplianceFlag`, `credits.amount`, `credits.title`, `lineItems.carbCertifierId`, and
        `lineItems.carbFormaldehydeComplianceCode` to Invoice.
      * Added `customerBalanceDue`, `secondaryConsumerOrderNumber`, `issuerDivision`, `consumerOrderDate`,
        `extendedExpectedCostTotal`, `packingSlipEmail`, `packingSlipPhone`, `packingSlipTemplate`,
        `consumerOrderCurrencyCode`, `secondaryReceiptId` to Order.
      * Added `consumerBalanceDue`, `consumerCreditAmountTotal`, `consumerLineNumber`, `packingSlipTitle`,
        `handlingAmount`, `requestedShipDate`, `extendedExpectedCostTotal`, `retailerLineId`, `packingSlipSku`,
        `expectedCostAdjustmentAllowed`, `supplierColor`, `supplierTitle`, `supplierSize`, `supplierProductGroup`,
        `weight`, `weightUnits`, `secondaryReceiptId` to Order lineItems.
      * Added `shipNightPhone`, `shipCustomerNumber`, `shipSiteType` to Order shipping.
      * Added `description`, `cardTypeDetails` to Order payment.
      * Added/updated the following address fields on Order: `buyer`, `customer`, `invoiceTo`.
      * Added the following address field to Order lineItems: `crossDockLocation`.
      * Added `transactionId`, `transactionDate`, `vendorInvoiceNumber`, and `balanceDue` to Order shipment.
      * Added `transactionId` and `transactionDate` to Order cancel.
      * Added `transactionId`, `transactionDate`, `requestedAction`, and `restockingCharge` to Return.

    **October 20 2021**
      * Deprecated optional fields `dsco_lifecycle`, `dsco_tags`, `remaining_quantity`, and `shipped_quantity` from order lineItems.
      * Added optional fields `dscoLifecycle`, `dscoTags`, `remainingQuantity`, and `shippedQuantity` to order lineItems.

    **October 15 2021**
      * added optional fields `brand` and `brandI18n` to Inventory.

    **September 23 2021**
      * added optional fields `dsco_lifecycle`, `dsco_tags`, `remaining_quantity`, and `shipped_quantity` to order lineItems.

    **June 22 2021**
      * added `consumerOrderNumber` as a query parameter to the getOrders API.

    **Jun 21 2021**
      * added `requestedShippingServiceLevelCodeUnmapped` to top level of order

    **Jun 03 2021**
      * added `returnsMessage` and `returnsMessageI18n` to top level of order

    **May 25/26 2021**
      * `unitOfMeasurementCode` (for invoices/shipments) can now contain the following values:
        * EA
        * PR
        * CA
        * BX
        * PK
      * `transportationMethodCode` can now contain the following values:
        * A
        * J
        * R
        * S
        * ZZ

    **V3 - May 2021**

    * Added [Get Supplier Calendars for Retailer](#operation/getSupplierCalendarsForRetailer) API


    **V3 - Apr 2021 i18n/shipment**
      * OrderShipment/lineItems
        * Added gtin
        * Added isbn
        * Added mpn
      * OrderItemChange/lineItems + OrderShipment/lineItems
        * Added departmentId
        * Added departmentName
        * Added merchandisingAccountId
        * Added merchandisingAccountName
        * Added packageSpanFlag
        * Added retailerItemIds
        * Added serialNumbers
        * Added title
        * Added titleI18n

    **V3 - Mar 2021 i18n**

      * InvoiceShipFromTo
        * Deprecated firstName
        * Deprecated lastName
        * Deprecated address1
        * Deprecated address2
      * OrderBillTo
        * Deprecated firstName
        * Deprecated lastName
        * Deprecated address1
        * Deprecated address2
      * OrderShipping
        * Deprecated firstName
        * Deprecated lastName
        * Deprecated address1
        * Deprecated address2
      * PackageShipFrom
        * Deprecated firstName
        * Deprecated lastName
        * Deprecated address1
        * Deprecated address2
      * PackageShipTo
        * Deprecated firstName
        * Deprecated lastName
        * Deprecated address1
        * Deprecated address2
      * ItemCatalog
        * Added longTextDescriptionI18n
      * Warehouse
        * Added address
        * Deprecated address1
        * Deprecated address2
      * ReturnLineItem
        * Added title
        * Added personalization

    **V3 - Feb 2021 i18n**

      * Invoice
        * Added dscoTradingPartnerParentId
      * InvoiceLineItem
        * Added titleI18n
        * Added shipReferenceNumberQualifier
        * Added shipTransportationMethodCode
        * Added shipUnitOfMeasurementCode
        * Added carrierManifestId
        * Added storeNumber
        * Added serialNumbers
      * InvoiceShipFromTo
        * Added name
        * Added address
        * Added addressType
      * InvoiceShipInfo
        * Changed unitOfMeasurementCode to an enum
        * Changed transportationMethodCode to an enum
        * Changed referenceNumberQualifier to an enum
        * Added carrierManifestId
        * Added storeNumber
      * Catalog
        * Added productTitleI18n
        * Added dscoTradingPartnerParentId
        * Added titleI18n
        * Added descriptionI18n
        * Added shortDescriptionI18n
        * Added shortTextDescriptionI18n
        * Added detailsI18n
        * Added brandI18n
        * Added sizePrimaryDescriptionI18n
        * Added sizeSecondaryDescriptionI18n
        * Added colorPrimaryDescriptionI18n
        * Added colorSecondaryDescriptionI18n
        * Added colorTertiaryDescriptionI18n
        * Added hazmatDescriptionI18n
        * Added warrantyI18n
        * Added categoryI18n
        * Added conditionI18n
        * Added persDescriptionI18n
        * Added madeToOrderFlag
      * Inventory
        * Added dscoTradingPartnerParentId
      * ItemWarehouse
        * Added quantityOnOrder
        * Added estimatedAvailabilityDate
      * Order
        * Added dscoTradingPartnerParentId
        * Added retailerAccountsPayableId
        * Added authorizationForExpenseNumber
        * Added customerMembershipId
        * Added releaseNumber
        * Added orderTotalAmount
        * Added shippingAccountNumber
      * OrderBillTo
        * Added name
        * Added address
        * Added addressType
      * OrderLineItem
        * Added returnsMessageI18n
        * Added titleI18n
        * Added productGroup
        * Added expectedDeliveryDate
        * Added requiredDeliveryDate
        * Added acknowledgeByDate
        * Added cancelAfterDate
        * Added shipByDate
        * Added invoiceByDate
      * OrderLineItemForCancel
        * Added dscoTradingPartnerParentId
      * OrderShipping
        * Added name
        * Added address
        * Added addressType
      * Package
        * Added referenceNumberQualifier
        * Added transportationMethodCode
        * Added unitOfMeasurementCode
        * Added carrierManifestId
        * Added dscoTradingPartnerParentId
      * PackageLineItem
        * Added titleI18n
        * Added serialNumbers
      * PackageShipFrom
        * Added name
        * Added address
        * Added addressType
      * PackageShipTo
        * Added name
        * Added address
        * Added addressType
      * Return
        * Added dscoTradingPartnerParentId
        * Added returnTrackingNumber
      * ReturnLineItem
        * Added titleI18n


    **V3 - Late October 2020**


    The ImageReference object contained within an ItemCatalog object's brandLogoImages, images, productImages, and swatchImages attributes

    will be enhanced to return the following new attributes...


    * dscoUrl

    * exportImages

    * height

    * lastUpdate

    * mime

    * sourceUrl

    * status

    * width


    **V3 - October 9, 2020**


    * Added [Get Trading Partners ](#operation/getTradingPartners) API


    **V3 - September 22, 2020**


    * Added OrderLineItem uuid attribute

    * Added InvoiceLineItem msrp attribute

    * Added eventReasons to EventStream object to specify why an event was put into a stream (implemented only for Inventory and Catalog streams today)

    * Added triggerOnAssortmentIds attribute to Inventory and Catalog stream queries which will cause an event to put into the stream if an item is added to or removed from one of the assortments specified


    **V3 - August 13, 2020**


    * Added Details that Matter section that describes backoff retries approach and a few other important details

    * Added missing 200 return type documentation on [Create Order API](#operation/createOrder)

    * Added documentation for upcoming [Get Warehouses API](#operation/getWarehouses)


    **V3 - July 20, 2020**


    Rithum released its effort to ensure all documentation is inline with actual APIs to production, including the correction of a few discrepancies documented in the July 8, 2020 release below.



    **V3 - July 8, 2020**


    Rithum has released to its staging environment the result of an effort to confirm that this API documentation is inline with the actual APIs as there have been a few discrepancies.

    There were a few cases where the APIs were returning an object attribute out of line with the docs and instead of just removing the invalidly named attribute, Rithum kept the invalid

    named attribute but as a deprecated property.


    These are the objects/attributes in question...


    * Invoice.lineItems (InvoiceLineItem object)
      * expectedAmount is deprecated in favor of dscoExpectedAmount
      * expectedDifference is deprecated in favor of dscoExpectedDifference

    * Order.lineItems (OrderLineItem object)
      * updateDate is deprecated in favor of activityDate

    * Order.shipping (OrderShipping object)
      * state is deprecated in favor of region

    **V3 - June 17, 2020**


    Rithum has corrected various documentation errors found, including the following...


    * The Catalog object incorrectly documented tradingPartnerId and tradingPartnerName instead of dscoTradingPartnerId and dscoTradingPartnerName

    * The Inventory object incorrectly documented tradingPartnerId and tradingPartnerName instead of dscoTradingPartnerId and dscoTradingPartnerName


    **V3 - June 5, 2020**


    Rithum has corrected various documentation errors found, including the following...

    * The [Create Stream Operation](#operation/createStreamOperation) input params and result were incorrectly documented

    * The [Get Catalog Change Log Operation](#operation/getCatalogChangeLog) docs did not mark startDate/endDate as required

    * The [Get Order Change Log Operation](#operation/getOrderChangeLog) docs did not mark startDate/endDate as required

    * The large batch APIs documented return method has been correctly set to 200 instead of 202 since these are synchronous APIs


    | Modified API or JSON Object | Environment | Description |

    | -- | -- | -- |

    | [Catalog Object](#operation/getCatalogById) | staging & production | The following attributes were added to Catalog objects in support of Catalog Attribution validation: <ul><li>categories</li><li>extendedAttributes</li></ul> |

    | [Update Catalog Attribution Large Batch API](#operation/updateCatalogAttributionLargeBatch) | staging & production | Retailers may upload catalog attribution data. |


    Rithum has corrected various documentation errors found, including the following...

    * The [Create Stream Operation](#operation/createStreamOperation) input params and result were incorrectly documented

    * The [Get Catalog Change Log Operation](#operation/getCatalogChangeLog) docs did not mark startDate/endDate as required

    * The [Get Order Change Log Operation](#operation/getOrderChangeLog) docs did not mark startDate/endDate as required

    * The large batch APIs documented return method has been correctly set to 200 instead of 202 since these are synchronous APIs


    | Modified API or JSON Object | Environment | Description |

    | -- | -- | -- |

    | [Catalog Object](#operation/getCatalogById) | staging & production | The following attributes were added to Catalog objects in support of Catalog Attribution validation: <ul><li>categories</li><li>extendedAttributes</li></ul> |

    | [Update Catalog Attribution Large Batch API](#operation/updateCatalogAttributionLargeBatch) | staging & production | Retailers may upload catalog attribution data. |


    **V3 - February 7, 2020**


    Note that the webhook system has been temporarily removed pending more feedback from customers.


    | New API or JSON Object | Environment | Description |

    | -- | -- | -- |

    | [Cancel Order Item](#operation/cancelOrderItem) | production | This new API was released |


    | Modified API or JSON Object | Environment | Description |

    | -- | -- | -- |

    | [Get Stream Events from Position](#operation/getStreamEventsFromPosition) <br/> [Get Stream Events in Range](#operation/getStreamEventsInRange) <br/> [Get Invoice Change Log](#operation/getInvoiceChangeLog) | production | The following attributes will be added to the Invoice object by the end of Q1 2020: <br/><br/>dscoExpectedOrderTotalAmount<br/>dscoExpectedOrderTotalDifference<br/>createDate<br/>lastUpdate<br/>exportDate<br/>dscoSupplierId<br/>dscoRetailerId<br/>dscoTradingPartnerId<br/>requestedWarehouseCode<br/>requestedWarehouseRetailerCode<br/>requestedWarehouseDscoId<br/>lineItem.dscoExpectedAmount<br/>lineItem.dscoExpectedDifference<br/>lineItem.originalLineNumber<br/>lineItem.originalOrderQuantity<br/>lineItem.departmentId<br/>lineItem.departmentName<br/>lineItem.merchandisingAccountId<br/>lineItem.merchandisingAccountName<br/>lineItem.dscoOriginalOrderRetailerCreateDate<br/>lineItem.requestedWarehouseCode<br/>lineItem.requestedWarehouseRetailerCode<br/>lineItem.requestedWarehouseDscoId<br/>lineItem.retailerItemIds |


    | Soon to be Released API or JSON Object | Environment | Description |

    | -- | -- | -- |

    | [Get Invoices By ID ](#operation/getInvoiceById) | production | This new API will be released soon |


    **V3 - January 25, 2020**


    | New API or JSON Object | Environment | Description |

    | -- | -- | -- |

    | [Create Return](#operation/createReturn) | production | This new API was released |

    | [Complete Return](#operation/completeReturn) | production | This new API was released |

    | [Get Returns](#operation/getReturns) | production | This new API was released |

    | [Get Return Change Log](#operation/getReturnChangeLog) | production | This new API was released |

    | [Create or Complete Return Small Batch](#operation/createOrCompleteReturnSmallBatch) | production | This new API was released |

    | [Create or Complete Return Large Batch](#operation/createOrCompleteReturnLargeBatch) | production | This new API was released |


    **V3 - January 13, 2020**


    | New API or JSON Object | Environment | Description |

    | -- | -- | -- |

    | [Create Return](#operation/createReturn) | staging | This new API was released |

    | [Complete Return](#operation/completeReturn) | staging | This new API was released |

    | [Get Returns](#operation/getReturns) | staging | This new API was released |

    | [Get Return Change Log](#operation/getReturnChangeLog) | staging | This new API was released |

    | [Create or Complete Return Small Batch](#operation/createOrCompleteReturnSmallBatch) | staging | This new API was released |

    | [Create or Complete Return Large Batch](#operation/createOrCompleteReturnLargeBatch) | staging | This new API was released |


    **V3 - August 1, 2019**


    | New API or JSON Object | Environment | Description |

    | -- | -- | -- |

    | [Data Collector API](#operation/collectData) | production | This new API was released |

    | [Create Function API](#operation/createFunction) | production | This new API was released |

    | [List Functions API](#operation/listFunctions) | production | This new API was released |

    | [Get Function by ID API](#operation/getFunctionById) | production | This new API was released |

    | [Update Function API](#operation/updateFunction) | production | This new API was released |

    | [Delete Function API](#operation/deleteFunction) | production | This new API was released |

    | [Update Catalog Small Batch API](#operation/updateCatalogSmallBatch) | production | This new API was released |

    | [Update Catalog Large Batch API](#operation/updateCatalogLargeBatch) | production | This new API was released |

    | [Create Order API](#operation/createOrder) | production | This new API was released |

    | [List Streams API](#operation/listStreams) | production | This new API was released |

    | [Get Stream Events From Position API](#operation/getStreamEventsFromPosition) | production | This new API was released |

    | [Get Stream Events In Range API](#operation/getStreamEventsInRange) | production | This new API was released |

    | [Create Stream API](#operation/createStream) | production | This new API was released |

    | [Update Stream API](#operation/updateStream) | production | This new API was released |

    | [Update Stream Position API](#operation/updateStreamPosition) | production | This new API was released |

    | [Delete Stream API](#operation/deleteStream) | production | This new API was released |


    _APIs Promoted to Production_

    * Acknowledge Orders API

    * Update Inventory Small Batch API


    **V3 - June 1, 2019**


    | New API or JSON Object | Environment | Description |

    | -- | -- | -- |

    | [Update Inventory Small Batch API](#operation/updateInventorySmallBatch) | staging | This new API was released |


    _APIs Promoted to Production_

    * Acknowledge Orders API

    * Large Batch Inventory Update API

    * Small Batch Inventory Update API

    * Inventory Change Log API


    **V3 - May 9, 2019**


    | New API or JSON Object | Environment | Description |

    | -- | -- | -- |

    | [Update Inventory Small Batch API](#operation/updateInventorySmallBatch) | staging | This new API was released |


    **V3 - May 1, 2019**


    Rithum is rolling out its new V3 APIs as it completes them.  Each API will roll out first to the Dsco

    staging environment and then to the production environment.  The release notes designate what change went where.


    | New API or JSON Object | Environment | Description |

    | -- | -- | -- |

    | [Update Inventory Large Batch API](#operation/updateInventoryLargeBatch) | staging | This new API was released |

    | [Inventory Change Log API](#operation/getInventoryChangeLog) | staging | This new API was released |


    # Authentication

    All APIs require authentication except for the [Get Access Token API](#operation/getAccessToken).  Rithum is transitioning from a simple bearer token to the

    Oauth2 Client Credentials Workflow.  Existing users of the V3 APIs may continue to use the old way,

    DscoAuth, while new customers must use the new way, DscoOauth.


    # Details that Matter


    ## The APIs Will Change

    Rithum reserves the right to add new attributes at any time so partners should ensure their validators won't break should this happen.  Rithum

    will not break backward compatibility, so Rithum will not remove or change the name of an attribute or API.


    ## Error Handling

    The partner should implement an exponential backoff-retry algorithm to retry API calls sent to Rithum that fail when the HTTP Response Type

    indicates the error is a transient error, or one that will go away with time (see list of HTTP codes below).


    Rithum recommends the backoff-retry algorithm retry for up to two hours after which the partner should send a request to Rithum support

    (support-dsco@rithum.com) to ask whether there is an issue with the Dsco APIs.  In the event that this occurs, please send the complete API

    request made and the HTTP error code that is being seen by the partner in the support request.


    Here are some resources describing the algorithms we recommend a partner implement...


    [Retry pattern with exponential backoff](https://dzone.com/articles/understanding-retry-pattern-with-exponential-back)

    [Wikipedia Exponential Backoff](https://en.wikipedia.org/wiki/Exponential_backoff)


    ### Retriable Http errors

    * 408 - request timeout

    * 429 - too many requests

    * 500 - internal server error

    * 502 - bad gateway

    * 503 - service unavailable

    * 504 - gateway timeout


    ## Retailer or Supplier

    Are you acting as a Retailer or a Supplier when invoking the Dsco APIs? Your account was assigned either a

    Retailer or Supplier role when it was setup and the required params for the APIs can differ depending on your

    Account Role. It's possible that both a retailer and supplier account were created for you.

    When interacting with the APIs, you will need to use the correct account depending on what you are trying to

    do. A supplier account commonly will want to acknowledge orders, change order statuses, add shipping/tracking

    information to an order, etc. A retailer account will often want to create orders, check on order statuses,

    get order tracking information, etc.


    ## Sync vs Async API Contracts

    ### Synchronous APIs

    Some APIs are synchronous, meaning that the API does not return an HTTP status until the work requested by the API invocation

    has completed.  For example, the synchronous [Add Item to Assortment](#operation/addItemToAssortment) API does not return an

    http  ``201`` response until the assortment sent in the request body has been created.


    ### Asynchronous APIs

    Some APIs are asynchronous,

    meaning that the API will return an HTTP response as soon as the API has safely accepted the work which will be performed

    at some point in the near future.  The [Add Items To Assortment Small Batch](#operation/addItemsToAssortmentSmallBatch) API

    is an example of an async API which returns an HTTP ``202`` response as soon as the work to add the items to the assortment

    has been safely queued up to be done soon.


    ### Eventual Consistency

    Synchronous APIs that create or update data return success as soon as the change has been made in the database.  However,

    there may be a period of time between when a change is made via a synchronous API call and that change is reflected

    across all Rithum systems and APIs.  So, if one were to call the [Get Order Object](#operation/getOrderById) API to retrieve

    an order that was just created by the the [Create Order](#operation/createOrder) API it may not be found for a short period

    of time.  Usually, the propagation delay for change is on the order of seconds.  However, under rare circumstances

    this can spike to some minutes.  The normal flow of data from a retailer to a supplier and then back from a supplier to

    a retailer means that this latency does not affect best practice use cases.  For example, a retailer creates an order, that

    order is propagated across the system and is only then made available to a supplier to be fulfilled and thus calling the

    [Get Order Object](#operation/getOrderById) API will return the order in question to the supplier.  Similarly, as shipments

    are provided by a supplier they are propagated across the system and then made available to a retailer.


    ### Create Order Post Processing

    An order created synchronously may require some post processing on behalf of the retailer before the order is made

    available for a supplier to fulfill.  However, an order in this state is in fact persisted to a database and will be available via the

    [Get Order Object](#operation/getOrderById) API for example once all post processing is completed and the change is propagated

    across the system.
x-tagGroups:
  - name: Commerce Suite APIs
    tags:
      - Assortment
      - Hello
      - Catalog
      - Catalog Attribution
      - Channel Overrides
      - Collector
      - Conversation
      - Exception
      - Function
      - Inventory
      - Invoice
      - OAuth2
      - Order
      - Packing Slip
      - Pricing
      - Marketplace
      - Return
      - Stream
      - Trading Partner
      - Supplier Calendar
      - Warehouse
      - Retailer Warehouse
  - name: Delivery Suite APIs
    tags:
      - Shipping Labels
      - Monitored Shipments
      - Delivery Promise
      - Rate Shop
tags:
  - name: Assortment
    description: Manage assortments.
  - name: Catalog
    description: Use the Catalog APIs to updated and retrieve catalog data.
  - name: Catalog Attribution
    description: Use the Catalog Attribution APIs to updated and retrieve catalog
      attribution data.
  - name: Channel Overrides
    description: >
      Use the Channel Overrides APIs to create and update Item overrides.


      ### Shelf Life of Missed Channel Overrides

      Missed channel overrides refer to the channel overrides that are not successfully processed or applied by the system due to reasons such as item not existing yet. It is important for retailers to understand the shelf life of these missed channel overrides.


      The shelf life of missed channel overrides is currently set at **60 days**. This means that if a channel override fails to be processed or applied, it will remain in the system for a period of **60 days** before being automatically removed.


      During this shelf life period, the system will automatically try to reapply overwrites as items are created or updated. After the **60-day** shelf life expires, any missed channel overrides that were not successfully processed or applied will be permanently removed from the system.
  - name: Collector
    description: Use the Collector APIs to send data in arbitrary formats to Rithum.
  - name: Conversation
    description: Use the Conversation APIs to have conversations with your trading partners.
  - name: Exception
    description: Use the Exception APIs to create exceptions.
  - name: Function
    description: Use the Function APIs to create and manage Node JS functions.
  - name: Hello
    description: Use the Hello API to verify you are successfully authenticated.
  - name: Inventory
    description: Use the Inventory APIs to update and retrieve inventory data.
  - name: Invoice
    description: Use the Invoice APIs to create and retrieve invoices.
  - name: Order
    description: Use the Order APIs to updated and retrieve order data.
  - name: Packing Slip
    description: Use the Packing Slip APIs to create and download packing slips.
  - name: Pricing
    description: Use the Pricing APIs to retrieve your COGS data and manage your config.
  - name: Marketplace
    description: Use the Marketplace APIs to manage your marketplace.
  - name: Return
    description: Use the Return APIs to create and manage returns.
  - name: Stream
    description: Use the Stream APIs to get data from Rithum.
  - name: Warehouse
    description: Use the Warehouse APIs to retrieve warehouses.
  - name: Retailer Warehouse
    description: Use the Retailer Warehouse APIs to retrieve warehouses of connected
      suppliers.
  - name: Trading Partner
    description: Use the Trading Partner APIs to retrieve trading partners.
  - name: Supplier Calendar
    description: Use the Supplier Calendar APIs to retrieve calendar for supplier
      warehouses.
  - name: OAuth2
    description: OAuth2 APIs
  - name: Shipping Labels
    description: Provide shipment data and create Shipping Labels from the Carrier
      that can be used to ship.
  - name: Monitored Shipments
    description: Use the Monitored Shipments API to send external shipment data to
      Rithum. This API will be available in Q2 2024.
  - name: Delivery Promise
    description: Use the Delivery Promise API to generate promise dates at or before
      order creation.
  - name: Rate Shop
    description: Use the Rate Shop API to rate shop orders using Shipping
      Optimization to find the best shipping rates and methods.
paths:
  /assortment:
    post:
      operationId: createAssortment
      tags:
        - Assortment
      summary: Create assortment
      description: Use this synchronous API to create a new assortment.
      requestBody:
        description: The assortment to create.
        required: true
        content:
          application/json:
            schema:
              title: Assortment
              description: The Assortment JSON object defines an assortment that may be
                created in the Dsco system.
              type: object
              required:
                - name
              properties:
                name:
                  type: string
      responses:
        "201":
          description: The assortment was received and has been created.
          content:
            application/json:
              schema:
                &a1
                title: Assortment
                description: The Assortment JSON object defines an assortment that may be
                  created in the Dsco system.
                type: object
                required:
                  - id
                  - name
                properties:
                  id:
                    type: string
                  name:
                    type: string
    get:
      operationId: getAssortments
      tags:
        - Assortment
      summary: List all assortments
      description: Use this API to retrieve all existing assortments.
      responses:
        "200":
          description: The assortments, if any.
          content:
            application/json:
              schema:
                type: array
                items: *a1
  "/assortment/{id}":
    get:
      operationId: getAssortment
      tags:
        - Assortment
      summary: Retrieve assortment
      description: Use this synchronous API to retrieve a single assortment.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The id of the assortment to retrieve.
      responses:
        "200":
          description: The assortment, if any.
          content:
            application/json:
              schema: *a1
    put:
      operationId: updateAssortment
      tags:
        - Assortment
      summary: Update assortment
      description: Use this synchronous API to update (rename) a single assortment.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The id of the assortment to update.
      requestBody:
        description: The assortment to update
        required: true
        content:
          application/json:
            schema: *a1
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                &a2
                title: SuccessFailResponse
                description: Indicates a successful or failed operation
                type: object
                required:
                  - status
                properties:
                  success:
                    type: boolean
                    description: The status of the operation
    delete:
      operationId: deleteAssortment
      tags:
        - Assortment
      summary: Delete assortment
      description: Use this synchronous API to delete an assortment. Doing so removes
        all items from the assortment.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The ID of the assortment to delete.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: *a2
  "/assortment/{id}/item":
    post:
      operationId: addItemToAssortment
      tags:
        - Assortment
      summary: Add item to assortment
      description: Use this synchronous API to add a single item to an assortment.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The ID of the assortment to modify.
      requestBody:
        description: The item to add. Either `dscoItemId` or `itemKey` must be provided.
        required: true
        content:
          application/json:
            schema:
              &a3
              title: DscoItemIdOrItemKeyObj
              description: Contains the information necessary for a retailer to lookup an
                item.
              type: object
              properties:
                &a7
                dscoItemId:
                  type: number
                  description: If known, provide the Dsco item id.
                itemKey:
                  &a4
                  title: ItemKeyObj
                  description: >-
                    Contains information necessary for the retailer to lookup an
                    item. 

                    Either `dscoSupplierId` or `tradingPartnerId` must be provided in additional to always required parameters `itemKey` and `itemKeyType`.
                  type: object
                  required:
                    - itemKey
                    - itemKeyType
                  properties:
                    dscoSupplierId:
                      type: number
                    tradingPartnerId:
                      type: string
                    itemKey:
                      type: string
                    itemKeyType:
                      type: string
                      enum:
                        - SKU
                        - UPC
                        - EAN
                        - MPN
                        - ISBN
                        - GTIN
      responses:
        "201":
          description: The item has been added to the assortment.
          content:
            application/json:
              schema: *a2
    delete:
      operationId: removeItemFromAssortment
      tags:
        - Assortment
      summary: Remove item from assortment
      description: Use this synchronous API to remove a single item from an assortment.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The ID of the assortment to modify.
      requestBody:
        description: The item to remove. Either `dscoItemId` or `itemKey` must be provided.
        required: true
        content:
          application/json:
            schema: *a3
      responses:
        "201":
          description: The item has been removed from the assortment.
          content:
            application/json:
              schema: *a2
  "/assortment/{id}/items":
    post:
      operationId: addItemsToAssortment
      tags:
        - Assortment
      summary: Add items to assortment
      description: Use this synchronous API to add multiple items to an assortment.
        You may add up to 100 itemKey objects and/or 1,000 dscoItemId objects.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The ID of the assortment to modify.
      requestBody:
        description: The items to add. One or both of `dscoItemIds` or `itemKeys` must
          be provided.
        required: true
        content:
          application/json:
            schema:
              &a5
              title: DscoItemIdsOrItemKeysObj
              description: >-
                Contains information necessary for the retailer to lookup an
                item. 

                Either `dscoSupplierId` or `tradingPartnerId` must be provided in additional to always required parameters `itemKey` and `itemKeyType`.
              type: object
              properties:
                dscoItemIds:
                  type: array
                  items:
                    type: number
                  description: If known, provide the Dsco item ids.
                itemKeys:
                  type: array
                  description: Contains information necessary for the retailer to lookup an items.
                    Either `dscoSupplierId` or `tradingPartnerId` must be
                    provided in additional to always required parameters
                    `itemKey` and `itemKeyType`.
                  items: *a4
      responses:
        "201":
          description: The items have been added to the assortment.
          content:
            application/json:
              schema: *a2
    delete:
      operationId: removeItemsFromAssortment
      tags:
        - Assortment
      summary: Remove items from assortment
      description: Use this synchronous API to remove multiple items from an assortment.
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The ID of the assortment to modify.
      requestBody:
        description: The items to remove. One or both of `dscoItemIds` or `itemKeys`
          must be provided.
        required: true
        content:
          application/json:
            schema: *a5
      responses:
        "201":
          description: The items have been removed from the assortment.
          content:
            application/json:
              schema: *a2
  "/assortment/{id}/batch/small":
    post:
      operationId: addItemsToAssortmentSmallBatch
      tags:
        - Assortment
      summary: Add Items To Assortment Small Batch
      description: >-
        Use this asynchronous API to send small numbers of items to be added to
        an assortment

        (up to five megabytes worth) in a single API call. The API will receive the assortment

        updates and process them after the fact, returning an HTTP response immediately.
      requestBody:
        description: The Assortment items to be added
        required: true
        content:
          application/json:
            schema:
              type: array
              items: *a5
      responses:
        "202":
          description: the request was received and is being processed
          content:
            application/json:
              schema:
                &a6
                title: AsyncUpdateResponse
                description: The AsyncUpdateResponse JSON object is what is returned when an
                  asynchronous update API call is made.
                type: object
                required:
                  - status
                  - requestId
                  - eventDate
                properties:
                  status:
                    type: string
                    enum:
                      - success
                      - failure
                      - pending
                    description: >-
                      This will normally be set to pending to indicate that the
                      request

                      will be processed asynchronously and the status is still pending.
                  requestId:
                    type: string
                    description: A unique ID representing this one request
                  eventDate:
                    type: string
                    format: date-time
                    description: The timestamp of the request
                  messages:
                    type: array
                    items:
                      &a8
                      title: ApiResponseMessage
                      description: The ApiResponseMessage JSON object may be returned as part of a
                        response to an API call to indicate why a failure
                        occurred or other general message information.
                      type: object
                      required:
                        - code
                      properties:
                        code:
                          type: string
                          description: A code indicating what happened
                        severity:
                          type: string
                          enum:
                            - info
                            - warn
                            - error
                          description: The severity of what is being reported by this message
                        description:
                          anyOf:
                            - type: string
                            - type: object
                            - type: array
                              items:
                                type: string
                          description: A description of the message
    delete:
      operationId: removeItemsFromAssortmentSmallBatch
      tags:
        - Assortment
      summary: Remove Items From Assortment Small Batch
      description: >-
        Use this asynchronous API to send small numbers of items to be removed
        from an assortment

        (up to five megabytes worth) in a single API call. The API will receive the assortment

        updates and process them after the fact, returning an HTTP response immediately.
      requestBody:
        description: The Assortment items to be removed
        required: true
        content:
          application/json:
            schema:
              type: array
              items: *a5
      responses:
        "202":
          description: the request was received and is being processed
          content:
            application/json:
              schema: *a6
  /assortment/log:
    get:
      operationId: getAssortmentChangeLogs
      tags:
        - Assortment
      summary: Get Assortment Change Log
      description: >-
        View changes made to assortments.


        The most common use case for this API is to find out whether an async request worked or not. Let's say a call is

        made to the [addItemsToAssortmentSmallBatch](#operation/addItemsToAssortmentSmallBatch) API, which will process

        the request after the fact but immediately returns a requestId.  Use this API and pass in the requestId to get back

        an entry for each assortment item processed in the previous call. If there are no results, wait a while and then

        check back again.


        This is a synchronous paged API.  If the request results are too large to return in a single request,

        the response will include a `scrollId` attribute.  To get the next page of results, simply provide this

        value in the search query.  When an empty page of results is returned, there are no more pages.  The pages of

        results are cached and expire if the next page of results isn't retrieved within the default expire period

        for searches. The default expiry is five minutes.  This value will not change between requests to get pages.  If

        the page doesn't exist - perhaps it expired - the API will return an HTTP 404 error.


        If `scrollId` is provided, then any other provided query parameters will be ignored.

        If `scrollId` is not provided, then either `requestId` is required or `startDate` and `endDate` are required.


        Change logs are meant to give feedback to asynchronous batch calls. As such, they should be called soon

        after making the batch call. It's expected that the change log calls will happen within a few minutes

        (or at most, a few hours) after the call is made so that the caller can determine if there were any issues.


        By default, change logs will stay in our system for two weeks. However, we reserve the right to shorten that time

        on an account by account basis if there are a large number of change logs for an account that would otherwise

        degrade the performance of our systems.
      parameters:
        - name: scrollId
          in: query
          schema:
            type: string
          description: >-
            If provided, it means return the next page of results in the search

            previously executed.  If provided, the other query parameters are ignored.

            Note that you must call to get the next page of results within 5 minutes

            of the previous call or you will get an HTTP 404 error when trying to get

            the next page of results.
        - name: startDate
          in: query
          description: The start date to retrieve assortment update logs from, inclusive
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: The end date to retrieve assortment update logs from, exclusive
          schema:
            type: string
            format: date-time
        - name: requestId
          in: query
          description: Filter results to only include those objects that were processed as
            part of this request.
          schema:
            type: string
        - name: status
          in: query
          description: >-
            A status to filter the results to, one of the following...

            * **pending**: Only including changes still pending in the result

            * **success**: Only include changes that succeeded in the result

            * **failure**: Only include changes that failed in the result

            * **success_or_failure**: Only include changes that either succeeded or failed in the result
          schema:
            type: string
            enum:
              - pending
              - success
              - failure
              - success_or_failure
      responses:
        "200":
          description: The log data was successfully returned
          content:
            application/json:
              schema:
                title: AssortmentChangeLogResponse
                description: The response to a request for assortment change logs.
                type: object
                required:
                  - logs
                properties:
                  scrollId:
                    type: string
                    description: >-
                      If the results were too large to return in a single
                      request, this attribute

                      will contain a value.  To get the next page of results, simply provide this

                      value in the search query.  The pages of results are cached and expire if the next

                      page of results isn't retrieved within the default expire period for searches.

                      Unless otherwise specified by the search API itself, the default expiry is

                      five minutes.  This value will not change between requests to get pages.  If

                      the page doesn't exist, perhaps it expired, the API will return an HTTP 404 error.
                  status:
                    type: string
                    enum:
                      - PROCESSING
                      - COMPLETED
                    description: >-
                      If the `requestId` is provided this attribute will contain
                      a value. If the status value 

                      is `PROCESSING` it means that the transaction is not completely finished. If the status 

                      value is `COMPLETED` then the transaction is finished.
                  logs:
                    type: array
                    items:
                      title: AssortmentChangeLog
                      description: A log of a single request to change an assortment.
                      type: object
                      required:
                        - payload
                        - dateProcessed
                        - status
                        - requestMethod
                      properties:
                        payload:
                          title: DscoItemIdOrItemKeyObj
                          description: Contains the information necessary for a retailer to lookup an
                            item.
                          type: object
                          properties: *a7
                        dateProcessed:
                          type: string
                          format: date-time
                          description: The date the request was actually processed
                        status:
                          type: string
                          enum:
                            - pending
                            - success
                            - failure
                          description: >-
                            The status of the change, one of...

                            * **pending**: the change is still being made

                            * **success**: the change was successfully made

                            * **failure**: the change failed, look at the results attribute
                        requestMethod:
                          type: string
                          enum:
                            - api
                            - portal
                            - file
                          description: how the request was made
                        requestMethodDetail:
                          anyOf:
                            - type: string
                            - type: object
                          description: >-
                            More detail about the request method, in the case of
                            an API call, this will be the name of the API,

                            otherwise this will be a json object with information about what happened in the core of the Dsco system.
                        requestId:
                          type: string
                          description: The ID of the API request that included the request to make this
                            change if done via an API
                        processId:
                          type: string
                          description: The ID of the file process that included the request to make this
                            change if done via file process
                        results:
                          type: array
                          items: *a8
                    description: The assortment change logs matching the request
  /hello:
    get:
      operationId: helloWorld
      tags:
        - Hello
      summary: Hello World
      description: Use this synchronous API to test successfully communicating with Dsco.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - hello
                properties:
                  hello:
                    type: string
  /addException:
    post:
      operationId: addException
      tags:
        - Exception
      summary: Add an exception to an item
      description: Add an exception to an item
      requestBody:
        description: Uniquely identify an object, add an exception message, and
          optionally add or remove the item from assortments
        required: true
        content:
          application/json:
            schema:
              title: AddException
              description: >-
                A query for catalog data.  The attributes are additive in that
                each new attribute specified works together with the

                other attributes specified.
              type: object
              required:
                - queryType
              properties:
                supplierAccountId:
                  type: string
                  description: >-
                    The account ID of the supplier of this item.

                    This or tradingPartnerAccountId must be provided. If both are provided, this will take precidence.
                  nullable: true
                tradingPartnerAccountId:
                  type: string
                  description: >-
                    The account ID of the trading partner.

                    This or supplierAccountId must be provided. If both are provided, supplierAccountId will take precidence.
                  nullable: true
                type:
                  type: string
                  enum:
                    - ItemCatalog
                  description: The type of the object that the exception applies to. Must be the
                    value "ItemCatalog". Additional types may be added in the
                    future.
                idKey:
                  type: string
                  enum:
                    - dscoItemId
                    - sku
                    - partnerSku
                    - upc
                    - ean
                    - mpn
                    - isbn
                    - gtin
                  description: Indicates which item identifier to query for
                idValue:
                  type: string
                  description: The value of the item identifier to find
                message:
                  type: string
                  description: The exception message
                addToAssortments:
                  type: array
                  items:
                    type: string
                  description: Add the item to one or more assortments. This field takes the names
                    of the assortments to add the item to. The assortments must
                    already exist.
                  nullable: true
                removeFromAssortments:
                  type: array
                  items:
                    type: string
                  description: Remove the item from one or more assortments. This field takes the
                    names of the assortments to remove the item from. The
                    assortments must already exist.
                  nullable: true
      responses:
        "200":
          description: The request has been processed
          content:
            application/json:
              schema: *a2
  /catalog:
    get:
      operationId: getCatalogById
      tags:
        - Catalog
      summary: Get Catalog Object
      description: >-
        Use one of an item's unique keys to retrieve a single ItemCatalog
        object.


        This synchronous API is not meant to be used to retrieve lots of ItemCatalog objects and as such is rate-limited.

        You can call this API 10 times per second, or up to 10000 times per hour.


        The streams are for day-to-day automated retrievals of orders, invoices, inventory, etc.
      parameters:
        - &a43
          name: itemKey
          in: query
          description: >-
            Indicates which item identifier to query for; note that if
            partnerSku

            is specified and the account making the API call is a supplier then either

            the dscoRetailerId or dscoTradingPartnerId param is required
          required: true
          schema:
            type: string
            enum:
              - dscoItemId
              - sku
              - partnerSku
              - upc
              - ean
              - mpn
              - isbn
              - gtin
        - &a44
          name: value
          in: query
          description: The value of the item identifier to find
          required: true
          schema:
            type: string
        - &a45
          name: dscoRetailerId
          in: query
          description: |-
            Dsco's unique ID for a retailer, this or dscoTradingPartnerId is
            required if itemKey is partnerSku and the caller is a supplier
          schema:
            type: string
        - &a46
          name: dscoTradingPartnerId
          in: query
          description: >-
            The caller's unique ID for the trading partner in question; this or
            dscoRetailerId

            is required if itemKey is partnerSku and the caller is a supplier
          schema:
            type: string
        - &a47
          name: returnMultiple
          in: query
          description: In some cases, multiple items match specified identifier. By
            default, only the first item is returned in this case. The array of
            all matching items is returned if this parameter is specified.
          schema:
            type: boolean
      responses:
        "200":
          description: The ItemCatalog was found and returned
          content:
            application/json:
              schema:
                &a32
                title: ItemCatalog
                description: >-
                  The ItemCatalog JSONs object defines an item of the  Dsco
                  system.

                  Rithum expects an ItemCatalog object, defining an item, exists

                  before inventory is provided for the given item.
                allOf:
                  - &a48
                    title: Item
                    description: Defines the shared attributes of an item which are used by
                      ItemCatalog and ItemInventory.
                    type: object
                    required:
                      - sku
                    properties:
                      sku:
                        type: string
                        description: The supplier-provided unique ID for the item; this value must be
                          provided and must be unique amongst all items for the
                          given supplier who owns the item
                        maxLength: 90
                      dscoItemId:
                        type: string
                        description: Dsco's unique ID for this item
                      upc:
                        type: string
                        nullable: true
                        description: Optional unique ID for this item
                        pattern: ^(\\d{6}|\\d{12})$
                      departmentId:
                        nullable: true
                        type: string
                        description: Merchant's selling department.
                      ean:
                        type: string
                        nullable: true
                        description: Optional unique ID for this item
                        pattern: ^(\\d{8}|\\d{13})$
                      mpn:
                        type: string
                        nullable: true
                        description: Optional unique ID for this item
                      isbn:
                        type: string
                        nullable: true
                        description: Optional unique ID for this item
                        pattern: ^(\\d{10}|\\d{13})$
                      gtin:
                        type: string
                        nullable: true
                        description: Optional unique ID for this item
                        pattern: ^(\\d{8}|\\d{12,14})$
                      partnerSku:
                        type: string
                        nullable: true
                        description: This value will not be set when used by a supplier. For retailers
                          this will be the retailer-specific value provided by
                          the Retailer in a ChannelOverride. This value must be
                          unique within retailer. Each item within a retailer
                          account MUST have a unique partnerSku, as duplicate
                          partnerSku values within a retailer will result in
                          potentially mismatched orders.
                      partnerSkuMap:
                        type: array
                        items:
                          title: PartnerSkuMap
                          type: object
                          required:
                            - partnerSku
                          properties:
                            partnerSku:
                              type: string
                              description: >-
                                The retailer-specific sku that needs to be
                                mapped to the retailer

                                who wants this sku
                              maxLength: 90
                            dscoRetailerId:
                              type: string
                              description: >-
                                Designate which retailer to use this sku for by
                                either specifying

                                this value, Dsco's unique account ID for the retailer, or dscoTradingPartnerId;

                                one of the A attributes must be present
                            dscoTradingPartnerId:
                              type: string
                              description: >-
                                Designate which retailer to use this sku for by
                                either specifying

                                this value, the partner's unique ID for the retailer, or dscoRetailerId;

                                one of the A attributes must be present
                      assortments:
                        type: array
                        nullable: true
                        items:
                          type: string
                        description: The list of the supplier's assortments this item is a member of
                  - title: ItemCatalogObj
                    type: object
                    required:
                      - productStatus
                      - title
                    properties:
                      productStatus:
                        type: string
                        nullable: true
                        enum:
                          - pending
                          - active
                          - discontinued_sell_through
                          - discontinued
                        description: >-
                          The status of the item, one of these values...

                          * **pending**: The supplier is in the process of setting up the item within Rithum and it is
                            not ready for its trading partners to sell it.  Rithum will not export this item
                            in inventory update feeds to the supplier’s trading partners, but will export
                            this item in catalog feeds.

                          * **active**: The supplier has completed item setup for this item and trading partners may now
                            sell the item when the item has positive quantity.

                          * **discontinued_sell_through**: The supplier has discontinued the item but wants its trading partners to continue
                            to sell the item until the item's availableQuantity goes to zero.  Rithum will continue
                            to send inventory updates to the supplier’s trading partners if the supplier
                            continues to update the available quantity of the item.  At some point, it is
                            expected that the available quantity will go to zero and remain there.  However,
                            if the supplier should send a positive inventory quantity, it will be passed to its
                            trading partners.

                          * **discontinued**: The item is discontinued and the supplier’s trading partners are not to sell any
                            more.  Rithum will export the item to the supplier’s trading partners via its
                            designated inventory update feed (file/API), setting the item’s quantity
                            to zero and overriding whatever value may be there.  Suppliers may continue to
                            send positive inventory quantity values for the item to Rithum and Rithum will store it,
                            however, Rithum will continue to send zero quantity available to the supplier’s
                            trading partners.
                      dscoProductId:
                        type: string
                        nullable: true
                        description: An ID to mark all items that are part of the same product
                      productGroup:
                        type: string
                        nullable: true
                        description: >-
                          A group identifier that, when multiple SKU's have the
                          same product_group, the SKU's are options/variants of
                          each other.

                          For example, if 5 SKU's have the product_group of '123456', they are all children of the same parent SKU.

                          This field is required whenever a parent-child relationship is defined.
                      productTitle:
                        type: string
                        nullable: true
                        description: The title of the given product that describes all of the various
                          options/variants as a group. This field is suggested
                          whenever a parent-child relationship is defined.
                      productTitleI18n:
                        type: object
                        title: LocalizedString
                        additionalProperties:
                          &a9
                          type: string
                        example:
                          &a10
                          en-US: What's up?
                          en-CA: What up, eh?
                      dscoSupplierId:
                        type: string
                        nullable: true
                        description: Dsco's unique ID for the supplier that owns this item
                      dscoSupplierName:
                        type: string
                        nullable: true
                        description: Dsco's name for the supplier that owns this item
                      dscoTradingPartnerId:
                        type: string
                        nullable: true
                        description: The partner's unique ID for the supplier that owns this item
                      dscoTradingPartnerName:
                        type: string
                        nullable: true
                        description: The partner's name for the supplier that owns this item
                      dscoTradingPartnerParentId:
                        type: string
                        nullable: true
                        description: Most retailers have two levels of identification for a supplier.
                          The first is the vendor_id and the other is the
                          parent_id.
                      dscoCreateDate:
                        type: string
                        format: date-time
                        description: The date Dsco created the item in its system
                      dscoLastUpdateDate:
                        type: string
                        format: date-time
                        nullable: true
                        description: The date Dsco last updated any attribute of the associated item
                      dscoLastProductStatusUpdateDate:
                        type: string
                        format: date-time
                        description: The last time the product status was updated
                      title:
                        type: string
                        description: >-
                          The title of the SKU.

                          A common practice is to concatenate this data with other fields (such as manufacturer and brand)

                          to end up with a more complete title (e.g. 'Lenovo Thinkpad T410 Notebook').
                      titleI18n:
                        type: object
                        title: LocalizedString
                        additionalProperties: *a9
                        example: *a10
                      description:
                        type: string
                        description: Full description that describes the SKU. HTML can be used although
                          great care should be taken to ensure proper closing of
                          any and all HTML tags.
                        nullable: true
                      descriptionI18n:
                        type: object
                        title: LocalizedString
                        additionalProperties: *a9
                        example: *a10
                      shortDescription:
                        type: string
                        description: A shortened description of the SKU. HTML can be used although great
                          care should be taken to ensure proper closing of any
                          and all HTML tags.
                        nullable: true
                      shortDescriptionI18n:
                        type: object
                        title: LocalizedString
                        additionalProperties: *a9
                        example: *a10
                      shortTextDescription:
                        type: string
                        description: >-
                          A shortened text-only description of the SKU without
                          the use of HTML or any other markup.

                          Typically used for another medium (such as a point-of-sale system or mobile app).

                          If short_description is also included, the content should be the same, other than markup.
                        nullable: true
                      shortTextDescriptionI18n:
                        type: object
                        title: LocalizedString
                        additionalProperties: *a9
                        example: *a10
                      longTextDescription:
                        type: string
                        description: >-
                          A full text-only description of the SKU without the
                          use of HTML or any other markup.

                          Typically used for another medium (such as a point-of-sale system or mobile app).

                          If long_description is also included, the content should be the same, other than markup.
                        nullable: true
                      longTextDescriptionI18n:
                        type: object
                        title: LocalizedString
                        additionalProperties: *a9
                        example: *a10
                      details:
                        type: string
                        description: Additional details not provided in the product description. In most
                          cases, you should consider including this within the
                          product description.
                        nullable: true
                      detailsI18n:
                        type: object
                        title: LocalizedString
                        additionalProperties: *a9
                        example: *a10
                      currencyCode:
                        type: string
                        description: The 3 letter ISO 4217 currency code (e.g. USD).
                        nullable: true
                      brand:
                        type: string
                        description: The name of the SKU's brand.
                        nullable: true
                      brandI18n:
                        type: object
                        title: LocalizedString
                        additionalProperties: *a9
                        example: *a10
                      commissionPercentage:
                        type: number
                        format: float
                        description: The percentage the retailer has set for the given trading partner
                          to calculate the commission amount for an item when
                          sold.
                        nullable: true
                      commissionAmount:
                        type: number
                        format: float
                        description: The monetary amount the retailer will pay to the supplier when
                          purchasing the item. Calculated as MSRP x Commission
                          Percentage.
                        nullable: true
                        readOnly: true
                      productAvailabilityStartDate:
                        type: string
                        format: date-time
                        description: >-
                          The date the item can start being ordered.

                          Rithum will automatically set the given item to "active" on this date as long as all required fields are set appropriately.
                        nullable: true
                      productAvailabilityEndDate:
                        type: string
                        format: date-time
                        description: >-
                          The date the item can no longer be ordered.

                          Rithum will automatically set the given item to "discontinued_sell_through" status on this date if

                          positive quantity is available on the item or to "discontinued" status if zero quantity is available.
                        nullable: true
                      cost:
                        type: number
                        format: float
                        minimum: 0
                        nullable: true
                        x-portal-tags: cost_price
                        description: >-
                          The price of the SKU you are charging your retailers.

                          When pricing tiers are used, this would be considered the default price.
                      costs:
                        nullable: true
                        type: object
                        title: LocalizedCurrencyValue
                        description: A map of 'ISO 3-Letter Currency Code' to a number in currency
                          format
                        additionalProperties:
                          &a11
                          type: string
                        example:
                          &a12
                          USD: 5.99
                          EUR: 6.5
                      dscoLastCostUpdateDate:
                        type: string
                        format: date-time
                        nullable: true
                        description: The date that the SKUs cost was last updated by the supplier.
                      listingPrices:
                        nullable: true
                        description: The price of the product when this product is sold under a
                          marketplace retail model.
                        properties:
                          USD:
                            type: number
                            format: float
                            minimum: 0
                            nullable: true
                            description: The price of the product (in USD) when this product is sold under a
                              marketplace retail model.
                        type: object
                        title: LocalizedCurrencyValue
                        additionalProperties: *a11
                        example: *a12
                      msrp:
                        type: number
                        format: float
                        nullable: true
                        description: The Manufacturer's Recommended Retail Price (MSRP) .
                      msrps:
                        nullable: true
                        type: object
                        title: LocalizedCurrencyValue
                        description: A map of 'ISO 3-Letter Currency Code' to a number in currency
                          format
                        additionalProperties: *a11
                        example: *a12
                      map:
                        type: number
                        format: float
                        nullable: true
                        description: The Minimum Advertised Price (MAP).
                      maps:
                        nullable: true
                        type: object
                        title: LocalizedCurrencyValue
                        description: A map of 'ISO 3-Letter Currency Code' to a number in currency
                          format
                        additionalProperties: *a11
                        example: *a12
                      handlingCost:
                        type: number
                        format: float
                        minimum: 0
                        nullable: true
                        description: The handling costs or fees that will be added to the order when
                          this SKU is purchased.
                      handlingCosts:
                        nullable: true
                        type: object
                        title: LocalizedCurrencyValue
                        description: A map of 'ISO 3-Letter Currency Code' to a number in currency
                          format
                        additionalProperties: *a11
                        example: *a12
                      sizePrimaryNrfCode:
                        type: string
                        nullable: true
                        description: The primary size of the item matched to NRF's available Size Codes.
                      sizePrimaryDescription:
                        type: string
                        nullable: true
                        description: Human readable description of the primary size of the item.
                      sizePrimaryDescriptionI18n:
                        type: object
                        title: LocalizedString
                        additionalProperties: *a9
                        example: *a10
                      sizeSecondaryNrfCode:
                        type: string
                        nullable: true
                        description: The secondary size of the item matched to NRF's available Size
                          Codes.
                      sizeSecondaryDescription:
                        type: string
                        nullable: true
                        description: Human readable description of the secondary size of the item.
                      sizeSecondaryDescriptionI18n:
                        type: object
                        title: LocalizedString
                        additionalProperties: *a9
                        example: *a10
                      colorPrimaryNrfCode:
                        type: string
                        nullable: true
                        description: The primary color of the item matched to NRF's available Color
                          Codes.
                      colorPrimaryDescription:
                        type: string
                        nullable: true
                        description: Human readable description of the primary color.
                      colorPrimaryDescriptionI18n:
                        type: object
                        title: LocalizedString
                        additionalProperties: *a9
                        example: *a10
                      colorSecondaryNrfCode:
                        type: string
                        nullable: true
                        description: The secondary color of the item matched to NRF's available Color
                          Codes.
                      colorSecondaryDescription:
                        type: string
                        nullable: true
                        description: Human readable description of the secondary color.
                      colorSecondaryDescriptionI18n:
                        type: object
                        title: LocalizedString
                        additionalProperties: *a9
                        example: *a10
                      colorTertiaryNrfCode:
                        type: string
                        nullable: true
                        description: The tertiary color of the item matched to NRF's available Color
                          Codes.
                      colorTertiaryDescription:
                        type: string
                        nullable: true
                        description: Human readable description of the tertiary color.
                      colorTertiaryDescriptionI18n:
                        type: object
                        title: LocalizedString
                        additionalProperties: *a9
                        example: *a10
                      hazmatFlag:
                        type: boolean
                        nullable: true
                        description: Does the item contain hazardous materials?
                      hazmatClassCode:
                        type: string
                        nullable: true
                        description: If the item contains hazardous materials, what is the governing
                          body's code that matches the item in question?
                      hazmatDescription:
                        type: string
                        nullable: true
                        description: Human readable description of the hazardous material within the
                          item.
                      hazmatDescriptionI18n:
                        type: object
                        title: LocalizedString
                        additionalProperties: *a9
                        example: *a10
                      weight:
                        type: number
                        format: float
                        nullable: true
                        description: The weight of the SKU.
                      weightUnits:
                        type: string
                        nullable: true
                        description: "The unit of weight used with the 'weight' field. Possible values
                          include: 'lb', 'oz', 'g', 'kg'"
                        enum:
                          - oz
                          - g
                          - lb
                          - kg
                      length:
                        type: number
                        format: float
                        nullable: true
                        description: The length of the SKU.
                      width:
                        type: number
                        format: float
                        nullable: true
                        description: The width of the SKU.
                      height:
                        type: number
                        format: float
                        nullable: true
                        description: The height of the SKU.
                      dimensionUnits:
[...]
